p{
    font-family:arial;
    text-align: justify;
    font-size: 20px;
}

.caixa{
    background: 20px;
    height: 20px;
}

.banner {
    width: 100%;
    height: 180px;
    background: linear-gradient(to right, black,black);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

.apresentacao{
    font-family: Arial;
    font-size: 30px;
}

.instagram{
    width: 3.3em;
    height: 3.3em;
    border-radius: 50%;
    background-color: rgb(251, 45, 45);
    border-style: solid;
    border-color: black;
    position: absolute;
    left:11em;
    top:9px;
}

.github{
    width: 3.3em;
    height: 3.3em;
    border-radius: 50%;
    border-radius: 50%;
    background-color: rgb(30, 30, 214);
    border-style: solid;
    border-color: black;
    position: absolute;
    left:15em;
    top:50px
}

.email{
    width:3.3em;
    height:3.3em;
    border-radius: 50%;
    background-color: white;
    border-style: solid;
    border-color: black;
    position: absolute;
    left: 11em;
    top:100px;
}

.secoes{
    width: 10em;
    height: 12em;
    border-color: black;
    border-style: solid;
    background-color: white;
    text-align: center;
}

